.plantListContainer {
    display: flex;
}
.plantConainter {
    background-color: lightgray;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.plantDetailContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: left;
}
.favoratePlantContainer {
    width: 10%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.plant{
    font-weight: bold;
}
.attributes {
    display: flex;
    margin-top: 15px;
    height:200px;
    flex-direction: column;
}
.content {
    display: flex;
}

.plantCategories {
    display: flex;
}
.plantCategory {
    margin-right: 15px;
}

.plantFilterBars {
    display: flex;
    flex-direction: column;
}

.plantFilter {
    display: flex;
    align-items: flex-end;
}

.plantsPerPage {
    display: flex;
    margin: 0 0 0 auto;
}

.backdrop {
    z-index: 999;
    color: #fff;
}

.filters{
    padding-right:50px;
}

.header {
    height:5%;
    width: 100%;
}
.dialogBody {
    height:95%;
    widows: 100%;
}
.grid {
    flex-grow: 1;
    flex-shrink: 1;
}

.emptyResults {
    display: flex;
    align-items: center;
    text-align: center;
    height:100%;
}