.navList {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.activeListItem {
    color: blue;
}

.listItem {
    color: gray;
}

.navigationContainer{
    justify-self: center;
    align-self: center;
}

.appBar {
    display:flex;
}